---
import Keyboard from '../components/Keyboard.jsx';
import SimpleKeyboard from '../components/SimpleKeyboard.jsx';
import Textarea from '../components/TextArea.vue';
import Wave from '../components/Wave.vue';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
		<title>Astro</title>
	</head>
	<body>
		<div style="background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);">
          <h1 style="padding-top: 20px; font-weight: 900; font-size: 28px; text-align: center; color: white;">Overengineered PasteBin</h1>
        	<Textarea />
        	<button style="color: white; background-color: rgb(230,20,20); padding: 10px; border-radius: 3px; margin: 0 auto; display: block;" onclick="create_paste()">Create new paste</button>
		<Wave />
		</div>
        <Keyboard>
            <SimpleKeyboard client:only="react" />
        </Keyboard>

	<script client:only>
  function create_paste() {
        const userid = localStorage.getItem("userid");
        const textarea = document.getElementById('textarea');

        if (userid) url = 'http://localhost:4000/paste?user_id=' + userid;
        else url = 'http://localhost:4000/paste';

        fetch(url, {method: "POST", body: textarea.value})
            .then(response => { return response.text() })
            .then(text => { window.location = '/pastes/'+text; });
    }
	</script>

	<!--
	<script client:only src="https://unpkg.com/monaco-editor/min/vs/loader.js"></script>
	<script client:only>
	  require.config({
	    paths: {
	      'vs': 'https://unpkg.com/monaco-editor/min/vs/',
	      'monaco-vim': 'https://unpkg.com/monaco-vim/dist/monaco-vim/',
	    }
	  });
	  require(['vs/editor/editor.main', 'monaco-vim'], function(a, MonacoVim) {
	    var editor = monaco.editor.create(document.getElementById('container'), {
	      value: [
	        'function x() {',
	        '\tconsole.log("Hello world!");',
	        '}'
	      ].join('\n'),
	      language: 'javascript'
	    });
	    var statusNode = document.getElementById('status');
	    var vimMode = MonacoVim.initVimMode(editor, statusNode);

	    // remove vim mode by calling
	    // vimMode.dispose();
	  });
	</script>
	-->
	</body>
</html>
