.virkey{
    background-color: rgba(0, 0, 0, 0.942);
    height: 200px;
    margin: 0 150px;
    border-radius: 20px;
    transform: perspective(15px) rotateX(1deg);
    border-bottom: 1px solid white;
}

.virkey{
    box-shadow: 0px 40px 30px rgba(0, 0, 0, 0.732);
    transform: perspective(15px) rotateX(1deg);
}


@keyframes thicknessani {
    0% {display: none;opacity: 0;}
    70%{display: none;opacity: 0;}
    100%{display: block;opacity: 1;}
}
.thickness{
    height: 20px;
    background-color: rgba(0, 0, 0, 0.941);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80%;
    margin-top: 13px;
    margin-left: 130px;
    animation: thicknessani;
    animation-duration: 7s;
}

.virkeyout{
    margin: 0 100px;
}

.keypad_back{
    background-image: url("https://img.rawpixel.com/private/static/images/website/2022-05/fl8122342484-image-kqaprovj.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=6747b317b9f98c3475e487fe67b8a0b1");
    height: 180px;
    background-color: aliceblue;
    margin: 40px;
    border-radius: 20px;
    transform: perspective(70px) rotateX(0.7deg);
}

@keyframes keygo {
    0% {margin-left: -100%;position: relative;}
    100%{margin-left: 0px;position: relative;}
}

.outerbox{
    left: -100px;
    /* overflow-y: hidden; */
    animation: keygo;
    animation-duration: 5s;
}


